<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Coral - Onepage portfolio Template">
    <meta name="author" content="esrat">

    <!-- Fontawseom Icon CSS -->
    <link rel="stylesheet" href="../assets/css/all.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">

    <title>LGAC Register</title>
</head>

<body id="page-top">

    <!-- NAVBAR
    ================================================= -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-togglable  fixed-top " id="mainNav">
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <img src="../LOGO.jpg" style="width:auto;max-width:70%;height:auto;">
            </a>

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon-bar">
                    <i class="fa fa-bars"></i>
                </span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Links -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="..">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="../#aboutUs">
                            About Us
                        </a>
                    </li>
                    <!--  <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">
                            Coaches
                        </a>
                    </li>  -->
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="../#schedule">
                            Schedule
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="../#blog">
                            Blog
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="../#join">
                            Join Us
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link js-scroll-trigger" href="#page-top">
                            Login
                        </a>
                    </li>
                </ul>
            </div>
            <!-- / .navbar-collapse -->
        </div>
        <!-- / .container -->
    </nav>

    <!-- HERO
    ================================================== -->
    <section class="section section-top section-full">
        <!-- Cover -->
        <div class="bg-cover" style="background-image: url(../assets/img/56.jpg);"></div>

        <!-- Overlay -->
        <div class="bg-overlay"></div>
        <!-- Content -->
        <div class="container">
                    <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-8 col-lg-8 text-center">

                    <!-- Heading -->
                    <h1 class="text-white text-center mb-4 display-4 font-weight-bold">
                            LaGuardia Twisters <br> Register
                        </h1>
                </div>
            </div>
            <!-- / .row -->
            
            <% include ./partials/messages %>
            
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form action="/users/register" method="post" id="main_contact_form" class="contact__form">
                        <!-- form message -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                        Signed Up
                                    </div>
                                </div>
                            </div>
                            <!-- end message -->
                            
                        <div class="row">
							<div class="col-lg-6">
                                <div class="form-group">
                                    <input type="firstname" name="firstname" id="firstname" class="form-control" placeholder="Enter your first name" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="lastname" name="lastname" id="lastname" class="form-control" placeholder="Enter your last name" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="username" name="username" id="username" class="form-control" placeholder="Enter your Username" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password *" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="password" name="password2" id="password2" class="form-control" placeholder="Reenter your password *" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="submit text-center">
                                    <input name="register" type="submit" class="btn btn-primary btn-lg">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>



            <!-- / .row -->
        </div>
        <!-- / .container -->
    </section>

    <!-- FOOTER
    ================================================== -->
    <footer class="top-padding bg-dark">
        <!--Content -->
        <div class="container">
            <div class="row align-self-center">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <!-- Brand -->
                        <a href="#" class="footer-brand text-white">
                            <img src="../LOGO.jpg">
                        </a>
                        <p>Dream of the star and work hard</p>
                    </div>
                </div>

                <div class="col-lg-2 ml-lg-auto col-md-2">

                    <!-- Links -->
                    <ul class="footer-link list-unstyled ml-0 justify-content-end">
                        <li>
                            <a href=".." class="text-white">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="../#blog" class="text-white">
                                Blog
                            </a>
                        </li>
						<li>
                            <a href="login" class="text-white">
                                Login
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-white">
                                Github
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4">

                    <!-- Links -->
                    <ul class="footer-link list-unstyled ml-0 justify-content-end">
                        <li>
                            <i class="fa fa-mobile"></i> +345-345456
                        </li>
                        <li>
                            <i class="fa fa-location-arrow"></i> Laguardia Community College, <br> Long Island City
                        </li>
                        <li>
                            <i class="fa fa-globe"></i> www.themeturn.com
                        </li>
                    </ul>
                </div>
            </div>
            <!-- / .row -->

            <div class="row justify-content-md-center footer-copy">
                <div class="col-lg-8 col-md-6 col-sm-6 text-center">
                    <p class="lead text-white-50">&copy; Copyright Reserved to Timothy Ho | Design Adopted from Esrat </p>
                </div>
            </div>
        </div>
        <!-- / .container -->
    </footer>

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Global JS -->
    <script src="../assets/libs/jquery/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript (NOT NEEDED, interferes with LOGIN)
    <script src="../assets/js/jquery.easing.min.js"></script>
    <script src="../assets/js/ajax-contact.js"></script> -->

    <!-- Theme JS -->
    <script src="../assets/js/theme.js"></script>

</body>

</html>
